.highlight table td {
	padding: 5px;
}
.highlight table pre {
	margin: 0px;
}
.highlight .cm {
	color: rgb(153, 153, 136); font-style: italic;
}
.highlight .cp {
	color: rgb(153, 153, 153); font-weight: bold;
}
.highlight .c1 {
	color: rgb(153, 153, 136); font-style: italic;
}
.highlight .cs {
	color: rgb(153, 153, 153); font-style: italic; font-weight: bold;
}
.highlight .c {
	color: rgb(153, 153, 136); font-style: italic;
}
.highlight .cd {
	color: rgb(153, 153, 136); font-style: italic;
}
.highlight .err {
	color: rgb(166, 23, 23); background-color: rgb(227, 210, 210);
}
.highlight .gd {
	color: rgb(0, 0, 0); background-color: rgb(255, 221, 221);
}
.highlight .ge {
	color: rgb(0, 0, 0); font-style: italic;
}
.highlight .gr {
	color: rgb(170, 0, 0);
}
.highlight .gh {
	color: rgb(153, 153, 153);
}
.highlight .gi {
	color: rgb(0, 0, 0); background-color: rgb(221, 255, 221);
}
.highlight .go {
	color: rgb(136, 136, 136);
}
.highlight .gp {
	color: rgb(85, 85, 85);
}
.highlight .gs {
	font-weight: bold;
}
.highlight .gu {
	color: rgb(170, 170, 170);
}
.highlight .gt {
	color: rgb(170, 0, 0);
}
.highlight .kc {
	color: rgb(0, 0, 0); font-weight: bold;
}
.highlight .kd {
	color: rgb(0, 0, 0); font-weight: bold;
}
.highlight .kn {
	color: rgb(0, 0, 0); font-weight: bold;
}
.highlight .kp {
	color: rgb(0, 0, 0); font-weight: bold;
}
.highlight .kr {
	color: rgb(0, 0, 0); font-weight: bold;
}
.highlight .kt {
	color: rgb(68, 85, 136); font-weight: bold;
}
.highlight .k {
	color: rgb(0, 0, 0); font-weight: bold;
}
.highlight .kv {
	color: rgb(0, 0, 0); font-weight: bold;
}
.highlight .mf {
	color: rgb(0, 153, 153);
}
.highlight .mh {
	color: rgb(0, 153, 153);
}
.highlight .il {
	color: rgb(0, 153, 153);
}
.highlight .mi {
	color: rgb(0, 153, 153);
}
.highlight .mo {
	color: rgb(0, 153, 153);
}
.highlight .m {
	color: rgb(0, 153, 153);
}
.highlight .mb {
	color: rgb(0, 153, 153);
}
.highlight .mx {
	color: rgb(0, 153, 153);
}
.highlight .sb {
	color: rgb(221, 17, 68);
}
.highlight .sc {
	color: rgb(221, 17, 68);
}
.highlight .sd {
	color: rgb(221, 17, 68);
}
.highlight .s2 {
	color: rgb(221, 17, 68);
}
.highlight .se {
	color: rgb(221, 17, 68);
}
.highlight .sh {
	color: rgb(221, 17, 68);
}
.highlight .si {
	color: rgb(221, 17, 68);
}
.highlight .sx {
	color: rgb(221, 17, 68);
}
.highlight .sr {
	color: rgb(0, 153, 38);
}
.highlight .s1 {
	color: rgb(221, 17, 68);
}
.highlight .ss {
	color: rgb(153, 0, 115);
}
.highlight .s {
	color: rgb(221, 17, 68);
}
.highlight .na {
	color: rgb(0, 128, 128);
}
.highlight .bp {
	color: rgb(153, 153, 153);
}
.highlight .nb {
	color: rgb(0, 134, 179);
}
.highlight .nc {
	color: rgb(68, 85, 136); font-weight: bold;
}
.highlight .no {
	color: rgb(0, 128, 128);
}
.highlight .nd {
	color: rgb(60, 93, 93); font-weight: bold;
}
.highlight .ni {
	color: rgb(128, 0, 128);
}
.highlight .ne {
	color: rgb(153, 0, 0); font-weight: bold;
}
.highlight .nf {
	color: rgb(153, 0, 0); font-weight: bold;
}
.highlight .nl {
	color: rgb(153, 0, 0); font-weight: bold;
}
.highlight .nn {
	color: rgb(85, 85, 85);
}
.highlight .nt {
	color: rgb(0, 0, 128);
}
.highlight .vc {
	color: rgb(0, 128, 128);
}
.highlight .vg {
	color: rgb(0, 128, 128);
}
.highlight .vi {
	color: rgb(0, 128, 128);
}
.highlight .nv {
	color: rgb(0, 128, 128);
}
.highlight .ow {
	color: rgb(0, 0, 0); font-weight: bold;
}
.highlight .o {
	color: rgb(0, 0, 0); font-weight: bold;
}
.highlight .w {
	color: rgb(187, 187, 187);
}
.highlight {
	background-color: rgb(248, 248, 248);
}
html {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
body {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
div {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
span {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
applet {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
object {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
iframe {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
h1 {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
h2 {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
h3 {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
h4 {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
h5 {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
h6 {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
p {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
blockquote {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
pre {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
a {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
abbr {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
acronym {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
address {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
big {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
cite {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
code {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
del {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
dfn {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
em {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
img {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
ins {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
kbd {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
q {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
s {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
samp {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
small {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
strike {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
strong {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
sub {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
sup {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
tt {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
var {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
b {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
u {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
i {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
center {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
dl {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
dt {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
dd {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
ol {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
ul {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
li {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
fieldset {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
form {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
label {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
legend {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
table {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
caption {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
tbody {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
tfoot {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
thead {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
tr {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
th {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
td {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
article {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
aside {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
canvas {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
details {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
embed {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
figure {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
figcaption {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
footer {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
header {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
hgroup {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
menu {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
nav {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
output {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
ruby {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
section {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
summary {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
time {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
mark {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
audio {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
video {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
article {
	display: block;
}
aside {
	display: block;
}
details {
	display: block;
}
figcaption {
	display: block;
}
figure {
	display: block;
}
footer {
	display: block;
}
header {
	display: block;
}
hgroup {
	display: block;
}
menu {
	display: block;
}
nav {
	display: block;
}
section {
	display: block;
}
ol {
	list-style: none;
}
ul {
	list-style: none;
}
table {
	border-collapse: collapse; border-spacing: 0;
}
body {
	background: rgb(33, 33, 33); color: rgb(55, 55, 55); line-height: 1.5; font-family: "Myriad Pro", Calibri, Helvetica, Arial, sans-serif; font-size: 16px; box-sizing: border-box; -webkit-font-smoothing: antialiased;
}
h1 {
	margin: 10px 0px; color: rgb(34, 34, 34); letter-spacing: -1px; font-family: "Lucida Grande", "Calibri", Helvetica, Arial, sans-serif; font-weight: 700;
}
h2 {
	margin: 10px 0px; color: rgb(34, 34, 34); letter-spacing: -1px; font-family: "Lucida Grande", "Calibri", Helvetica, Arial, sans-serif; font-weight: 700;
}
h3 {
	margin: 10px 0px; color: rgb(34, 34, 34); letter-spacing: -1px; font-family: "Lucida Grande", "Calibri", Helvetica, Arial, sans-serif; font-weight: 700;
}
h4 {
	margin: 10px 0px; color: rgb(34, 34, 34); letter-spacing: -1px; font-family: "Lucida Grande", "Calibri", Helvetica, Arial, sans-serif; font-weight: 700;
}
h5 {
	margin: 10px 0px; color: rgb(34, 34, 34); letter-spacing: -1px; font-family: "Lucida Grande", "Calibri", Helvetica, Arial, sans-serif; font-weight: 700;
}
h6 {
	margin: 10px 0px; color: rgb(34, 34, 34); letter-spacing: -1px; font-family: "Lucida Grande", "Calibri", Helvetica, Arial, sans-serif; font-weight: 700;
}
h1 {
	font-size: 36px; font-weight: 700;
}
h2 {
	background: url("../images/bg_hr.png") repeat-x bottom; padding-bottom: 10px; font-size: 32px;
}
h3 {
	font-size: 24px;
}
h4 {
	font-size: 21px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 16px;
}
p {
	margin: 10px 0px 15px;
}
footer p {
	color: rgb(242, 242, 242);
}
a {
	transition:text-shadow 0.5s; color: rgb(0, 126, 223); text-decoration: none; text-shadow: none; -webkit-transition: text-shadow 0.5s ease; -moz-transition: text-shadow 0.5s ease; -o-transition: text-shadow 0.5s ease;
}
a:hover {
	text-decoration: underline;
}
a:focus {
	text-decoration: underline;
}
footer a {
	color: rgb(242, 242, 242); text-decoration: underline;
}
em {
	font-style: italic;
}
strong {
	font-weight: bold;
}
img {
	margin: 10px 0px; padding: 5px; border: 1px solid rgb(235, 235, 235); border-image: none; position: relative; max-width: 739px; box-shadow: 0px 0px 5px #ebebeb; -webkit-box-shadow: 0 0 5px #ebebeb; -moz-box-shadow: 0 0 5px #ebebeb; -o-box-shadow: 0 0 5px #ebebeb; -ms-box-shadow: 0 0 5px #ebebeb;
}
p img {
	margin: 0px; padding: 0px; border: currentColor; border-image: none; text-align: center; vertical-align: middle; display: inline;
}
pre {
	border-radius: 2px; width: 100%; color: rgb(34, 34, 34); font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace; font-size: 14px; background-color: rgb(255, 255, 255); -moz-border-radius: 2px; -webkit-border-radius: 2px;
}
code {
	border-radius: 2px; width: 100%; color: rgb(34, 34, 34); font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace; font-size: 14px; background-color: rgb(255, 255, 255); -moz-border-radius: 2px; -webkit-border-radius: 2px;
}
pre {
	padding: 10px; width: 100%; overflow: auto; box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
code {
	margin: 0px 3px; padding: 3px; box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
pre code {
	display: block; box-shadow: none;
}
blockquote {
	padding: 0px 0px 0px 20px; color: rgb(102, 102, 102); margin-bottom: 20px; border-left-color: rgb(187, 187, 187); border-left-width: 3px; border-left-style: solid;
}
ul {
	margin-bottom: 15px;
}
ol {
	margin-bottom: 15px;
}
dl {
	margin-bottom: 15px;
}
ul {
	padding-left: 20px;
}
ol {
	list-style: decimal; padding-left: 20px;
}
dl dt {
	font-weight: bold;
}
dl dd {
	padding-left: 20px; font-style: italic;
}
dl p {
	padding-left: 20px; font-style: italic;
}
hr {
	background: url("../images/bg_hr.png") repeat-x center; border: currentColor; border-image: none; height: 1px; margin-bottom: 5px;
}
table {
	border: 1px solid rgb(55, 55, 55); border-image: none; text-align: left; margin-bottom: 20px;
}
th {
	background: rgb(55, 55, 55); padding: 10px; color: rgb(255, 255, 255); font-family: "Lucida Grande", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
td {
	padding: 10px; border: 1px solid rgb(55, 55, 55); border-image: none;
}
form {
	background: rgb(242, 242, 242); padding: 20px;
}
.outer {
	width: 100%;
}
.inner {
	margin: 0px auto; padding: 20px 10px; position: relative; max-width: 640px;
}
#forkme_banner {
	background: url("../images/blacktocat.png") no-repeat 95% 50% rgb(0, 144, 255); padding: 10px 50px 10px 10px; top: 0px; right: 10px; color: rgb(255, 255, 255); font-weight: 700; display: block; position: absolute; z-index: 10; border-bottom-right-radius: 2px; border-bottom-left-radius: 2px; box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
#header_wrap {
	background: -ms-linear-gradient(rgb(55, 55, 55), rgb(33, 33, 33));
}
#header_wrap .inner {
	padding: 50px 10px 30px;
}
#project_title {
	margin: 0px; color: rgb(255, 255, 255); font-size: 42px; font-weight: 700; text-shadow: 0px 0px 10px #111;
}
#project_tagline {
	background: none; color: rgb(255, 255, 255); font-size: 24px; font-weight: 300; text-shadow: 0px 0px 10px #111;
}
#downloads {
	background: url("../images/icon_download.png") no-repeat 0% 90%; width: 210px; height: 70px; right: 0px; bottom: -40px; position: absolute; z-index: 10;
}
.zip_download_link {
	background: url("../images/sprite_download.png") no-repeat left bottom; width: 90px; height: 70px; text-indent: -5000px; overflow: hidden; float: right; display: block;
}
.tar_download_link {
	background: url("../images/sprite_download.png") no-repeat right bottom; width: 90px; height: 70px; text-indent: -5000px; overflow: hidden; margin-left: 10px; float: right; display: block;
}
.zip_download_link:hover {
	background: url("../images/sprite_download.png") no-repeat left top;
}
.tar_download_link:hover {
	background: url("../images/sprite_download.png") no-repeat right top;
}
#main_content_wrap {
	background: rgb(242, 242, 242); border-top-color: rgb(17, 17, 17); border-bottom-color: rgb(17, 17, 17); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
#main_content {
	padding-top: 40px;
}
#footer_wrap {
	background: rgb(33, 33, 33);
}
@media screen and (max-width:480px)
{
body {
	font-size: 14px;
}
#downloads {
	display: none;
}
.inner {
	min-width: 320px; max-width: 480px;
}
#project_title {
	font-size: 32px;
}
h1 {
	font-size: 28px;
}
h2 {
	font-size: 24px;
}
h3 {
	font-size: 21px;
}
h4 {
	font-size: 18px;
}
h5 {
	font-size: 14px;
}
h6 {
	font-size: 12px;
}
code {
	font-size: 11px; min-width: 320px; max-width: 480px;
}
pre {
	font-size: 11px; min-width: 320px; max-width: 480px;
}
}
